---
import Service from "./Service.astro";
import SectionWrapper from "./common/SectionWrapper.astro";
import FreelancerCTA from "./ctas/FreelancerCta.astro";
import EngineerCTA from "./ctas/EngineerCta.astro";
import ConsultantCTA from "./ctas/ConsultantCta.astro";

let selected = "consultant";
if (typeof window !== "undefined") {
  selected = localStorage.getItem("selectedHireTab") || "consultant";
}
const services = [
  {
    intro: [
      `Are you an SMB owner tired of a stale website holding you back? I help passionate entrepreneurs like you build user-friendly, results-driven websites that convert visitors into customers.`,
      `From concept to launch, I guide you through the entire process, from branding and design to development and marketing. Forget cookie-cutter solutions – I create bespoke websites that tell your unique story and generate real online success.`,
    ],
    section: "freelancer",
    selected: selected === "freelancer",
    services: [
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
    ],
    // child: FreelancerCTA,
  },
  {
    intro: [
      `Feeling lost in the maze of cloud solutions or struggling to automate manual tasks? As a seasoned tech consultant, I've helped startups and established companies like yours simplify operations and achieve ambitious goals.`,
      `I'll work closely with you to understand your specific challenges and craft a custom  blueprint outlining how you can leverage technology to boost efficiency, saves costs, and fuel future growth.`,
    ],
    section: "consultant",
    selected: selected === "consultant",
    services: [
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
    ],
    // child: ConsultantCTA,
  },
  {
    intro: [
      `I'm a passionate full-stack engineer with expertise in crafting rich user interfaces and engaging online experiences. I thrive in collaborative environments and truly enjoy working with and learning from others.`,
      `My diverse experience across industries and technologies allows me to tackle complex challenges and deliver impactful solutions. I'm equally excited about full-time opportunities to drive long-term innovation and part-time engagements where I can make an immediate difference.`,
    ],
    section: "engineer",
    selected: selected === "engineer",
    services: [
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
      {
        title: "Web Design",
        description: "This is a description for web designs.",
        icon: "ph:user",
      },
    ],
    // child: EngineerCTA,
  },
];
---

<SectionWrapper
  id='hire'
  className='flex flex-col items-center w-full max-w-4xl mx-auto px-9 lg:px-0'
>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='absolute fill-accent/10 -z-10'
    viewBox='0 0 218 146'
  >
    <path
      fill-rule='evenodd'
      d='M211.56 146c4.168-11.552 6.44-24.011 6.44-37C218 48.801 169.199 0 109 0S0 48.801 0 109c0 12.989 2.272 25.448 6.44 37C21.59 104.013 61.79 74 109 74s87.41 30.013 102.56 72Z'
      clip-rule='evenodd'
    >
    </path>
  </svg>
  <h3
    class='py-6 font-bold text-center text-base-100 text-outline-stroke tracking-wider initial'
  >
    Open to work
  </h3>
  <div role='tablist' class='tabs tabs-boxed my-8 initial'>
    <a role='tab' class='tab'>Freelancer</a>
    <a role='tab' class='tab tab-active'>Consultant</a>
    <a role='tab' class='tab'>Engineer</a>
  </div>
  <div class='group text-center my-6 initial'>
    {
      services.map((service) => {
        return (
          <Service
            intro={service.intro}
            section={service.section}
            services={service.services}
            selected={service.selected}
          />
        );
      })
    }
  </div>
</SectionWrapper>

<style>
  .text-outline-stroke {
    text-shadow:
      -2px -2px 0 oklch(var(--a)),
      2px -2px 0 oklch(var(--a)),
      -2px 2px 0 oklch(var(--a)),
      2px 2px 0 oklch(var(--a));
  }
</style>

<script>
  (() => {
    if (typeof window === "undefined") return;

    const selectedHireTab = localStorage.getItem("selectedHireTab");
    if (!selectedHireTab) {
      localStorage.setItem("selectedHireTab", "consultant");
    }

    const tabs = document.querySelectorAll(".tab");
    const group = document.querySelector("#hire .group");
    const sections = group?.querySelectorAll("[data-section]");

    tabs.forEach((tab) => {
      tab.addEventListener("click", () => {
        tabs.forEach((tab) => tab.classList.remove("tab-active"));
        tab.classList.add("tab-active");

        const target = tab?.textContent?.toLowerCase();
        sections?.forEach((section) => {
          localStorage.setItem("selectedHireTab", `${target}`);
          section.classList.remove("hidden");
          if ((section as HTMLDivElement)?.dataset.section !== target) {
            section.classList.add("hidden");
          }
        });
      });
    });
  })();
</script>
