---
import Timeline from "../components/Timeline.astro";
import AboutCard from "./AboutCard.astro";
import SectionWrapper from "./common/SectionWrapper.astro";

const skills = {
  about: [
    {
      title: "Branding",
      description:
        "Every brand has a story to tell. It's how you tell that story that makes all the difference.",
      link: "/skills",
      linkText: "",
      index: 1,
      icon: "icon-park-outline:chart-ring",
    },
    {
      title: "Design",
      description:
        "From print, to web, to mobile and beyond; design is the language we use to express ourselves.",
      link: "/skills",
      linkText: "",
      index: 2,
      icon: "tabler:chart-circles",
    },
    {
      title: "Development",
      description:
        "From small scale projects to enterprise level solutions, I can help you harness technology to achieve your business goals.",
      link: "/skills",
      linkText: "",
      icon: "ph:circles-three",
    },
    {
      title: "Marketing",
      description:
        "Having a great product or service is only half the battle. I can help you get the word out and reach your target audience.",
      link: "/skills",
      linkText: "",
      icon: "ph:circles-four",
    },
  ],
};
---

<SectionWrapper id='about' className='relative'>
  <div class='w-full max-w-6xl flex flex-col md:flex-row mx-auto'>
    <div
      id='info'
      class='px-4 md:group w-full max-w-2xl flex flex-col justify-start gap-9 mx-auto'
    >
      <div class='section md:peer mb-24 md:mb-0' data-section='about'>
        <h3
          class='p-3 text-4xl mb-12 border-2 rounded-xl font-semibold max-w-[11rem] text-center initial'
        >
          About
        </h3>
        <div class='bg-base-200/30 p-6 text-primary-content rounded-md initial'>
          <p class='leading-relaxed mb-4'>
            From hand-crafting pixel-perfect UIs to building robust full-stack
            solutions, I bridge the gap between code and creativity. Mesmerized
            by the blinking magic of my first Commodore 64, I've been immersed
            in technology ever since.
          </p>
          <p class='leading-relaxed'>
            Today, I leverage my skills, experience, and insatiable appetite for
            learning to help businesses and organizations achieve real results
            taking you from concept to creation and on to conversion. Whether
            you're seeking an intuitive website that boosts conversions or a
            full-stack developer who champions accessibility...
          </p>
        </div>
        <ul class='w-full flex flex-wrap gap-3 my-9'>
          {
            skills.about.map((skill, i: number) => {
              return (
                <AboutCard
                  title={skill.title}
                  description={skill.description}
                  link={skill.link}
                  linkText={skill?.linkText ? skill?.linkText : ""}
                  index={i + 1}
                  icon={skill.icon}
                />
              );
            })
          }
        </ul>
      </div>
      <div class='section md:peer md:hidden' data-section='exp'>
        <h3
          class='px-3 mb-12 border-2 rounded-xl font-semibold max-w-[20rem] text-center initial'
        >
          Experience
        </h3>
        <p
          class='bg-base-200/30 p-6 rounded-md leading-relaxed pb-6 text-secondary-content initial'
        >
          The internet is a canvas, and technology is our brush. Every line of
          code, every click, every connection is a stroke of progress. I'm
          excited to see what we can create together, pixel by pixel, line by
          line.
        </p>
        <p class='unset text-sm text-right leading-loose mr-3'>
          <a href='https://bard.google.com/' target='_blank'>
            - Generated via: Google's Bard A.I. Engine
          </a>
        </p>
        <Timeline />
      </div>
    </div>

    <div class='hidden md:flex flex-col gap-y-24'>
      <ul
        class='menu bg-base-200/30 w-56 rounded-box max-h-24 secondary -ml-16'
      >
        <li class='secondary'>
          <button data-section='about' disabled>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-5 w-5'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'
              >
              </path>
            </svg>
             About
          </button>
        </li>
        <li class='secondary'>
          <button data-section='exp'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-5 w-5'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
              >
              </path>
            </svg>
             Experience
          </button>
        </li>
      </ul>
      <img
        src={"/assets/commodore-64.svg"}
        alt='Commodore 64'
        width='250'
        class='-ml-16 opacity-70 initial'
      />
    </div>
  </div>
</SectionWrapper>

<script>
  const buttons = document.querySelectorAll("#about button");
  const info = document.querySelector("#info");
  const sections = info?.querySelectorAll(".section");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const sectionId = (button as HTMLAnchorElement).dataset.section;
      sections?.forEach((section) => {
        section.classList.add("md:hidden");
      });

      buttons.forEach((btn) => {
        btn.removeAttribute("disabled");
      });
      const current = document.querySelector(
        `.section[data-section='${sectionId}']`
      );
      current?.classList.remove("md:hidden");
      const currBtn = document.querySelector(
        `button[data-section='${sectionId}']`
      ); // Disable the currently active button

      currBtn?.setAttribute("disabled", "true");
    });
  });
</script>

<style>
  .section {
    transition: opacity 0.65s ease-in-out;
    opacity: 0;
  }

  .section:not(.hidden) {
    opacity: 1;
  }

  button {
    transition: opacity 0.5s ease-in-out;
    transition: background 0.25 ease-in-out;
  }

  button:not(:disabled):hover {
    opacity: 0.5;
    background: oklch(var(--p));
  }

  button[disabled] {
    opacity: 0.5;
    background: oklch(var(--p));
    pointer-events: none;
    cursor: not-allowed;
  }
  [astro-icon] {
    width: 2rem;
    height: 2rem;
  }

  .trans {
    opacity: 50%;
  }

  .text-outline-stroke {
    text-shadow:
      -2px -2px 0 oklch(var(--pc)),
      2px -2px 0 oklch(var(--pc)),
      -2px 2px 0 oklch(var(--pc)),
      2px 2px 0 oklch(var(--pc));
  }
</style>
